@tailwind base;
@tailwind components;
@tailwind utilities;

.slideshowSlider {
  transition: ease 1000ms;
}

#contactUsContainer {
  opacity: 0;
  pointer-events: none;
}

@keyframes shake-once {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake-once {
  animation: shake-once 1s 2;
}

.card {
  background: var(--surface-card);
}

.slide {
  display: inline-block;
  background-size: cover;
}

.slick-prev,
.slick-next {
  color: black !important;
  display: hidden !important;
}
.prev {
  left: -25px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
:root {
}

body {
}
