@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
  margin-right: 10px;
}

.banner {
  background-repeat: no-repeat;
}

:root {
}

body {
}
