@tailwind base;
@tailwind components;
@tailwind utilities;

.slideshowSlider {
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  background-size: cover;
}

/* Buttons */

.arrow {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
  margin-right: 10px;
}

:root {
}

body {
}
