@tailwind base;
@tailwind components;
@tailwind utilities;

.slideshowSlider {
  transition: ease 1000ms;
}



.slide {
  display: inline-block;
  background-size: cover;
}

/* Buttons */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width: 100%;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  cursor: pointer;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.arrow {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
  margin-right: 10px;
}

:root {
}

body {
}
